/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  background-color: #161625;
  min-height: 100vh;
}

.cowin-dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  max-width: 1110px;
}

/*.main-container {
  width: 1000px;
  padding: 10px;
}*/

.logo-container {
  display: flex;
}

.logo-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #2cc6c6;
  padding: 2px;
  font-weight: bold;
}

.website-image {
  height: 25px;
  width: 25px;
  margin-top: 15px;
}

.main-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
